@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.Font {
    FONT-FAMILY: emoji;
}

.Font-position{
    margin: -10px;
    font-size: small;
    text-align: right;
} 

.mt {
    margin-top: 80px;
}
.mt Register{
    margin-top: 80px;
}